 body {
     font-family: "Lato", sans-serif;
     background-color: #E6E8E6;
 }
 
 .title {
     background-color: #737473;
     padding-left: 15px;
     text-align: center;
     font-family: italic;
     font-size: 24px;
     color: #011320;
 }
 
 .list-unstyled {
     font-family: italic;
     font-size: 24px;
     font-style: bold;
     color: #011320;
 }
 
 #side {
     padding-left: 10px;
     padding-right: 10px;
     margin-top: 5px;
     margin-bottom: 5px;
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 18px;
     color: #011320;
 }
 
 .nav.navbar-nav {
     font-family: "lato", sans-serif;
     font-size: 18px;
     text-transform: uppercase;
     -webkit-text-fill-color: black;
     background-color: #737473;
 }
 
 .col-xs-6 {
     font-family: Georgia, 'Times New Roman';
     font-size: 18px;
     padding-left: 24px;
     padding-bottom: 7px;
 }
 
 .col-xs-4 {
     padding-left: 20px;
     font-family: Georgia, 'Times New Roman';
     font-style: normal;
 }
 
 .col-xs-8 {
     padding-left: 18px;
     font-family: Raleway;
     background-color: ;
 }
 
 .btn .btn-primary {
     background-color: #D0D1CF;
     text-transform: uppercase;
     font-style: bold;
     font-family: Georgia, 'Times New Roman', Times, serif;
     color: #011320;
 }
 
 .row {
     background-color: #C6EEEB;
     padding-left: 10px;
     margin-top: 5px;
     font-family: sans-serif;
     font-size: 18px;
 }
 
 .font-effect-anaglyph {
     font-family: italic;
     font-size: 20px;
     text-align: right;
     color: ;
 }
 
 .text-center {
     font-family: italic;
     font-size: 22px;
     text-align: center;
     text-transform: uppercase;
 }
 
 .form-group {
     font-family: Georgia, 'Times New Roman', Times, serif;
     font-size: 18px;
     font-style: bold;
     padding-left: 15px;
     margin-top: 7px;
 }
 
 .footer {
     background-color: #414141;
     width: 100%;
     position: absolute;
     text-align: left;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 16px;
     padding: 50px;
     margin-top: 50px;
 }
 
 .footer .footer-left,
 .footer .footer-center,
 .footer .footer-right {
     display: inline-block;
     vertical-align: top;
 }
 /* footer left*/
 
 .footer .footer-left {
     width: 33%;
     padding-right: 15px;
 }
 
 .footer .about {
     line-height: 20px;
     color: #ffffff;
     font-size: 13px;
     font-weight: normal;
     margin: 0;
 }
 
 .footer .about span {
     display: block;
     color: #ffffff;
     font-size: 14px;
     font-weight: bold;
     margin-bottom: 20px;
 }
 
 .footer .icons {
     margin-top: 25px;
 }
 
 .footer .icons a {
     display: inline-block;
     width: 35px;
     height: 35px;
     cursor: pointer;
     background-color: #33383b;
     border-radius: 2px;
     font-size: 20px;
     color: #ffffff;
     text-align: center;
     line-height: 35px;
     margin-right: 3px;
     margin-bottom: 5px;
 }
 /* footer center*/
 
 .footer .footer-center {
     width: 30%;
 }
 
 .footer .footer-center i {
     background-color: #33383b;
     color: #ffffff;
     font-size: 25px;
     width: 38px;
     height: 38px;
     border-radius: 50%;
     text-align: center;
     line-height: 42px;
     margin: 10px 15px;
     vertical-align: middle;
 }
 
 .footer .footer-center i.fa-envelope {
     font-size: 17px;
     line-height: 38px;
 }
 
 .footer .footer-center p {
     display: inline-block;
     color: #ffffff;
     vertical-align: middle;
     margin: 0;
 }
 
 .footer .footer-center p span {
     display: block;
     font-weight: normal;
     font-size: 14px;
     line-height: 2;
 }
 
 .footer .footer-center p a {
     color: #0099ff;
     text-decoration: none;
 }
 /* footer right*/
 
 .footer .footer-right {
     width: 35%;
 }
 
 .footer h2 {
     color: #ffffff;
     font-size: 36px;
     font-weight: normal;
     margin: 0;
 }
 
 .footer h2 span {
     color: #0099ff;
 }
 
 .footer .menu {
     color: #ffffff;
     margin: 20px 0 12px;
     padding: 0;
 }
 
 .footer .menu a {
     display: inline-block;
     line-height: 1.8;
     text-decoration: none;
     color: inherit;
 }
 
 .footer .menu a:hover {
     color: #0099ff;
 }
 
 .footer .name {
     color: #0099ff;
     font-size: 14px;
     font-weight: normal;
     margin: 0;
 }
 
 @media (max-width: 767px) {
     .footer {
         font-size: 14px;
     }
     .footer .footer-left,
     .footer .footer-center,
     .footer .footer-right {
         display: block;
         width: 100%;
         margin-bottom: 40px;
         text-align: center;
     }
     .footer .footer-center i {
         margin-left: 0;
     }
 }